# KakaoTalk Share SDK
NEXT_PUBLIC_KAKAO_JS_KEY=your_kakao_js_key

# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-xxxxxxxxxxxxxxxx

# Google Analytics 4
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
